## Frontend
# dependencies
frontend/node_modules
frontend/.pnp
.pnp.js
# production
frontend/build

## Backend
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
# Test binary, built with `go test -c`
*.test
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.html
# OpenAPI-generate
backend/openapi/openapi-generated/api
backend/openapi/openapi-generated/go
# Go
backend/go-modules/
backend/Gododir/godobin*
# Docker
backend/.docker-compose-data/
# Secret
backend/secret/

## infra
# Local .terraform directories
.terraform/
# .tfstate files
*.tfstate
*.tfstate.*
# Ignore CLI configuration files
.terraformrc
terraform.rc

## Others
# IDE
.idea/